DB_HOST=localhost
DB_NAME=db-name
DB_USERNAME=username
DB_PASSWORD=password
DB_PORT=5432

JWT_SECRET=example-OgGx02bPzdNPFiYahNvORXu5jWRUcc1eOMPNrtW0FAe

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

MAIL_FROM=info@mycompany.com

SMTP_HOST=smtp.example.ru
SMTP_PORT=1337
SMTP_USERNAME=username
SMTP_PASSWORD=password

LLM_AUTHORIZATION_KEY=example-key323232323

INTERNAL_API_KEY=example-ewrwerewrewrfwe3
BACKEND_URL=http://localhost:8080