DB_HOST=localhost
DB_NAME=db-name
DB_USERNAME=username
DB_PASSWORD=password
DB_PORT=5432

JWT_SECRET=example-OgGx02bPzdNPFiYahNvORXu5jWRUcc1eOMPNrtW0FAe

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

SMTP_USERNAME=username
SMTP_PASSWORD=password

LLM_AUTHORIZATION_KEY=example-key323232323

INTERNAL_API_KEY=example-ewrwerewrewrfwe3
BACKEND_URL=localhost:8080